<!DOCTYPE html>
<html>
<head>
    <title>PDF Files</title>
</head>
<body>
    <h1>PDF Files</h1>
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Выход</a>
        {% if is_author %}
            <a href="{% url 'add_pdf' %}">Добавить статью</a>
        {% endif %}
    {% else %}
        <a href="{% url 'login' %}">Вход</a>
    {% endif %}
    <ul>
        {% for pdf in pdfs %}
            <li>
                <a href="{% url 'pdf_view' pdf.id %}">{{ pdf.title }}</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
